---
layout: default
cerebro: /assets/images/domain_brain96.png
---
<script type="text/javascript">
    $(document).ready(function(){
        $(".blog-nav-item").removeClass("active");
        $(".blog-nav #index").addClass("active");
    })
</script>
<div class="home">
  <div class="well2">
    <h1>Últimas Entradas</h1>
  </div>
  {% for post in site.posts %}
    <div class="media">
      <a class="pull-left" href="{{ post.url }}">
        <img class="media-object" src="{{page.cerebro}}" alt="...">
      </a>
      <div class="media-body">
        <h4 class="media-heading resaltado_gris">{{post.title}}</h4>
        {% if post.content contains '<!--more-->' %}
            {{ post.content | split:'<!--more-->' | first }}
            <p><a href="{{ post.url }}">Continuar leyendo...</a></p>
        {% else %}
            {{ post.content }}
        {% endif %}
      </div>
    </div>
  {% endfor %}
<br />
<br />
<br />
</div>