<div class="footer">
    <p>Todos los derechos Reservados. Información sobre las licencias usadas en este sitio están <a href="http://localhost:4000/licencias_y_atribuciones.html">aquí</a></p>
      <p>
        <a href="#">Back to top</a>
      </p>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{site.url}}/assets/js/bootstrap.min.js"></script>
<script src="{{site.url}}/assets/js/docs.min.js"></script>
<script src="{{site.url}}/assets/js/twitterFetcher.js"></script>
